---
http_interactions:
- request:
    method: get
    uri: https://api.tomorrow.io/v4/weather/realtime?apikey=testing-api-token&location=95973
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - d29ddcd6-a05d-4701-b970-e73854f039eb
      X-Db-Credits-Cost:
      - '6'
      X-Ratelimit-Remaining-Plan-5f857927f9d5bdc6c63abb67:
      - '10'
      X-Ratelimit-Remaining-Plan-5f96c370732c89cb4d9a98e8:
      - '3'
      X-Ratelimit-Remaining-Plan-5fa4047f4acee993fbd7399d:
      - '3'
      X-Ratelimit-Remaining-Plan-5fb2a269785f8043656f245e:
      - '10'
      X-Ratelimit-Remaining-Plan-600d6ce482ff404e9a7a4c0c:
      - '5'
      X-Ratelimit-Remaining-Plan-600d73bef98f624e9adcf465:
      - '5'
      X-Ratelimit-Remaining-Plan-600d742fdee75e4e9aab6661:
      - '5'
      X-Ratelimit-Remaining-Plan-6036283133bb2ff6d4bd82a7:
      - '3'
      X-Ratelimit-Remaining-Plan-606d86d0a26c4d7df907bc7a:
      - '5'
      X-Ratelimit-Remaining-Plan-609d458bdd3d437ff19fd44f:
      - '5'
      X-Ratelimit-Remaining-Plan-60d46beae90c3b3549a59ff3:
      - '3'
      X-Ratelimit-Remaining-Plan-60f00adf8d481f9421462962:
      - '3'
      X-Ratelimit-Remaining-Plan-60f00d40803f8e9421c5a7f8:
      - '5'
      X-Ratelimit-Remaining-Plan-60f58bbc299fbc36c91529aa:
      - '5'
      X-Ratelimit-Remaining-Plan-648b3f22ef567da8b7fb4599:
      - '3'
      X-Ratelimit-Remaining-Plan-649ab4540000000000b71412:
      - '3'
      X-Ratelimit-Remaining-Web-App:
      - '500000'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"time":"2025-08-31T03:45:00Z","values":{"altimeterSetting":1010.47,"cloudBase":16,"cloudCeiling":16,"cloudCover":1,"dewPoint":14.7,"freezingRainIntensity":0,"humidity":37,"precipitationProbability":0,"pressureSeaLevel":1011.33,"pressureSurfaceLevel":1003.66,"rainIntensity":0,"sleetIntensity":0,"snowIntensity":0,"temperature":31.2,"temperatureApparent":30.7,"uvHealthConcern":0,"uvIndex":0,"visibility":16,"weatherCode":1000,"windDirection":166,"windGust":3.5,"windSpeed":1.2}},"location":{"lat":39.7662239074707,"lon":-121.85606384277344,"name":"Chico,
        Butte County, California, 95973, United States","type":"postcode"}}'
  recorded_at: Sun, 31 Aug 2025 03:45:16 GMT
recorded_with: VCR 6.3.1
