---
http_interactions:
- request:
    method: get
    uri: https://api.tomorrow.io/v4/weather/forecast?apikey=testing-api-token&location=95973&timesteps=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - ea41cb1d-ca90-4362-bbc5-daf455bcbbe5
      X-Db-Credits-Cost:
      - '11'
      X-Ratelimit-Remaining-Plan-5f857927f9d5bdc6c63abb67:
      - '10'
      X-Ratelimit-Remaining-Plan-5f96c370732c89cb4d9a98e8:
      - '3'
      X-Ratelimit-Remaining-Plan-5fa4047f4acee993fbd7399d:
      - '3'
      X-Ratelimit-Remaining-Plan-5fb2a269785f8043656f245e:
      - '10'
      X-Ratelimit-Remaining-Plan-600d6ce482ff404e9a7a4c0c:
      - '5'
      X-Ratelimit-Remaining-Plan-600d73bef98f624e9adcf465:
      - '5'
      X-Ratelimit-Remaining-Plan-600d742fdee75e4e9aab6661:
      - '5'
      X-Ratelimit-Remaining-Plan-6036283133bb2ff6d4bd82a7:
      - '3'
      X-Ratelimit-Remaining-Plan-606d86d0a26c4d7df907bc7a:
      - '5'
      X-Ratelimit-Remaining-Plan-609d458bdd3d437ff19fd44f:
      - '5'
      X-Ratelimit-Remaining-Plan-60d46beae90c3b3549a59ff3:
      - '3'
      X-Ratelimit-Remaining-Plan-60f00adf8d481f9421462962:
      - '3'
      X-Ratelimit-Remaining-Plan-60f00d40803f8e9421c5a7f8:
      - '5'
      X-Ratelimit-Remaining-Plan-60f58bbc299fbc36c91529aa:
      - '5'
      X-Ratelimit-Remaining-Plan-648b3f22ef567da8b7fb4599:
      - '3'
      X-Ratelimit-Remaining-Plan-649ab4540000000000b71412:
      - '3'
      X-Ratelimit-Remaining-Web-App:
      - '500000'
    body:
      encoding: ASCII-8BIT
      string: '{"timelines":{"daily":[{"time":"2025-08-30T13:00:00Z","values":{"altimeterSettingAvg":1012.49,"altimeterSettingMax":1015.29,"altimeterSettingMin":1010.33,"cloudBaseAvg":12,"cloudBaseMax":16,"cloudBaseMin":0,"cloudCeilingAvg":12,"cloudCeilingMax":16,"cloudCeilingMin":0,"cloudCoverAvg":0,"cloudCoverMax":3,"cloudCoverMin":0,"dewPointAvg":10.3,"dewPointMax":14.1,"dewPointMin":5.8,"evapotranspirationAvg":0.265,"evapotranspirationMax":0.731,"evapotranspirationMin":0.042,"evapotranspirationSum":6.36,"freezingRainIntensityAvg":0,"freezingRainIntensityMax":0,"freezingRainIntensityMin":0,"humidityAvg":34,"humidityMax":69,"humidityMin":18,"iceAccumulationAvg":0,"iceAccumulationLweAvg":0,"iceAccumulationLweMax":0,"iceAccumulationLweMin":0,"iceAccumulationLweSum":0,"iceAccumulationMax":0,"iceAccumulationMin":0,"iceAccumulationSum":0,"moonriseTime":"2025-08-30T21:07:54Z","moonsetTime":"2025-08-30T05:39:59Z","precipitationProbabilityAvg":0,"precipitationProbabilityMax":0,"precipitationProbabilityMin":0,"pressureSeaLevelAvg":1012.92,"pressureSeaLevelMax":1015.87,"pressureSeaLevelMin":1011.09,"pressureSurfaceLevelAvg":1005.52,"pressureSurfaceLevelMax":1008.46,"pressureSurfaceLevelMin":1003.53,"rainAccumulationAvg":0,"rainAccumulationMax":0,"rainAccumulationMin":0,"rainAccumulationSum":0,"rainIntensityAvg":0,"rainIntensityMax":0,"rainIntensityMin":0,"sleetAccumulationAvg":0,"sleetAccumulationLweAvg":0,"sleetAccumulationLweMax":0,"sleetAccumulationLweMin":0,"sleetAccumulationLweSum":0,"sleetAccumulationMax":0,"sleetAccumulationMin":0,"sleetIntensityAvg":0,"sleetIntensityMax":0,"sleetIntensityMin":0,"snowAccumulationAvg":0,"snowAccumulationLweAvg":0,"snowAccumulationLweMax":0,"snowAccumulationLweMin":0,"snowAccumulationLweSum":0,"snowAccumulationMax":0,"snowAccumulationMin":0,"snowAccumulationSum":0,"snowDepthAvg":0,"snowDepthMax":0,"snowDepthMin":0,"snowDepthSum":0,"snowIntensityAvg":0,"snowIntensityMax":0,"snowIntensityMin":0,"sunriseTime":"2025-08-30T13:34:00Z","sunsetTime":"2025-08-31T02:41:00Z","temperatureApparentAvg":27.9,"temperatureApparentMax":35.8,"temperatureApparentMin":18.1,"temperatureAvg":28.6,"temperatureMax":37.4,"temperatureMin":18.1,"uvHealthConcernAvg":1,"uvHealthConcernMax":3,"uvHealthConcernMin":0,"uvIndexAvg":2,"uvIndexMax":7,"uvIndexMin":0,"visibilityAvg":16,"visibilityMax":16,"visibilityMin":16,"weatherCodeMax":1000,"weatherCodeMin":1000,"windDirectionAvg":158,"windGustAvg":2.9,"windGustMax":4.3,"windGustMin":1.7,"windSpeedAvg":1.5,"windSpeedMax":3.4,"windSpeedMin":0}},{"time":"2025-08-31T13:00:00Z","values":{"altimeterSettingAvg":1011.63,"altimeterSettingMax":1013.03,"altimeterSettingMin":1010.37,"cloudBaseAvg":1.4,"cloudBaseMax":2.7,"cloudBaseMin":0,"cloudCeilingAvg":1.3,"cloudCeilingMax":10.3,"cloudCeilingMin":0,"cloudCoverAvg":63,"cloudCoverMax":100,"cloudCoverMin":0,"dewPointAvg":2.4,"dewPointMax":7.5,"dewPointMin":-2.3,"evapotranspirationAvg":0.23,"evapotranspirationMax":0.38,"evapotranspirationMin":0.064,"evapotranspirationSum":5.512,"freezingRainIn[...]
